# Configuration file

~CONFIG_VERSION: 0.1.0

##########################################################################################################
# advanced
#--------------------------------------------------------------------------------------------------------#
# Advanced config options to change the way JEI functions.
##########################################################################################################

advanced {
    S:itemBlacklist <
        forge:bucketfilled
        minecraft:bucket
        minecraft:furnace_minecart
        minecraft:water_bucket
        minecraft:lava_bucket
        minecraft:furnace
     >
}


